*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.nav_bar{
    padding: 16px;
    background-color: orange;
    text-decoration: none;

}
.heading{
    display: flex;
    justify-content: right;
 
    justify-content: space-around;
    
    
}
.heading h1 a{
    
    color:black;
    text-decoration: none;
    justify-content: center;
    justify-content: right;
    font-size: 24px;
    
}
.heading h1 a:hover{
    color:#68687a;
}
.heading button{
    border-radius: 16px;
    width: 200px;
    font-size: 16px;
    color: white;
    height:50px;
    background: black;
    border: none;
}
.First h1{
    margin-top: 50px;
    margin-left: 120px;
    font-size: 40px;
}
.Second h1{
    margin-left: 350px;
    font-size:70px;
    color: orange;
}
.padding{
    display: flex;
}
.padding{
    padding: 55px;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 600px;
   
    background-color: black;
}
.paadhead{
    display:flex;
}
.paadhead{
    color:white;
    justify-content: initial;
}
.paadhead2{
    color:orange;
    text-align: right;
}
.paadhead h1{
    margin-top: 100px;
    font-size:40px;
}
.paadhead p{
    margin-left: 60px;
    align-content: center;
    color: orange       ;
}

.img_gg{
    display: flex;
}

.img_1{
    display: flex;
}