* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

input,
select,
button,
textarea {
  cursor: pointer;
}

input[type="text"] {
  cursor: text;
}


.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}


.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}


.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}


.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}


.justify-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}


.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}


.flex-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.align-center {
  -ms-flex-line-pack: center;
      align-content: center;
}


.align-end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}


.align-start {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}


.align-between {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}


.align-evenly {
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}


.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}


.items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}


.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}


.no-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}


.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}


.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}


.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}


.column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.pa-xs {
  padding: 4px;
}

.pa-sm {
  padding: 8px;
}

.pa-md {
  padding: 16px;
}

.pa-lg {
  padding: 24px;
}

.pa-xl {
  padding: 32px;
}

.pa-none {
  padding: 0 !important;
}

.pt-xs {
  padding-top: 4px;
}

.pt-sm {
  padding-top: 8px;
}

.pt-md {
  padding-top: 16px;
}

.pt-lg {
  padding-top: 24px;
}

.pt-xl {
  padding-top: 32px;
}

.pt-none {
  padding-top: 0 !important;
}

.pr-xs {
  padding-right: 4px;
}

.pr-sm {
  padding-right: 8px;
}

.pr-md {
  padding-right: 16px;
}

.pr-lg {
  padding-right: 24px;
}

.pr-xl {
  padding-right: 32px;
}

.pr-none {
  padding-right: 0 !important;
}

.pl-xs {
  padding-left: 4px;
}

.pl-sm {
  padding-left: 8px;
}

.pl-md {
  padding-left: 16px;
}

.pl-lg {
  padding-left: 24px;
}

.pl-xl {
  padding-left: 32px;
}

.pl-none {
  padding-left: 0 !important;
}

.pb-xs {
  padding-bottom: 4px;
}

.pb-sm {
  padding-bottom: 8px;
}

.pb-md {
  padding-bottom: 16px;
}

.pb-lg {
  padding-bottom: 24px;
}

.pb-xl {
  padding-bottom: 32px;
}

.pb-none {
  padding-bottom: 0 !important;
}

.px-xs {
  padding-right: 4px;
  padding-left: 4px;
}

.px-sm {
  padding-right: 8px;
  padding-left: 8px;
}

.px-md {
  padding-right: 16px;
  padding-left: 16px;
}

.px-lg {
  padding-right: 24px;
  padding-left: 24px;
}

.px-xl {
  padding-right: 32px;
  padding-left: 32px;
}

.px-none {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.py-xs {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-sm {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-md {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-lg {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-xl {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-none {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ma-xs {
  margin: 4px;
}

.ma-sm {
  margin: 8px;
}

.ma-md {
  margin: 16px;
}

.ma-lg {
  margin: 24px;
}

.ma-xl {
  margin: 32px;
}

.ma-none {
  margin: 0 !important;
}

.ma-none {
  margin: 0 !important;
}

.my-none {
  margin-top: 0;
  margin-bottom: 0;
}

.mt-xs {
  margin-top: 4px;
}

.mt-sm {
  margin-top: 8px;
}

.mt-md {
  margin-top: 16px;
}

.mt-lg {
  margin-top: 24px;
}

.mt-xl {
  margin-top: 32px;
}

.mt-none {
  margin-top: 0 !important;
}

.mr-xs {
  margin-right: 4px;
}

.mr-sm {
  margin-right: 8px;
}

.mr-md {
  margin-right: 16px;
}

.mr-lg {
  margin-right: 24px;
}

.mr-xl {
  margin-left: 32px;
}

.mr-none {
  margin-left: 0 !important;
}

.ml-xs {
  margin-left: 4px;
}

.ml-sm {
  margin-left: 8px;
}

.ml-md {
  margin-left: 16px;
}

.ml-lg {
  margin-left: 24px;
}

.ml-xl {
  margin-left: 32px;
}

.ml-none {
  margin-left: 0 !important;
}

.mb-xs {
  margin-bottom: 4px;
}

.mb-sm {
  margin-bottom: 8px;
}

.mb-md {
  margin-bottom: 16px;
}

.mb-lg {
  margin-bottom: 24px;
}

.mb-xl {
  margin-bottom: 32px;
}

.mb-none {
  margin-bottom: 0 !important;
}

.mx-xs {
  margin-right: 4px;
  margin-left: 4px;
}

.mx-sm {
  margin-right: 8px;
  margin-left: 8px;
}

.mx-md {
  margin-right: 16px;
  margin-left: 16px;
}

.mx-lg {
  margin-right: 24px;
  margin-left: 24px;
}

.mx-xl {
  margin-right: 32px;
  margin-left: 32px;
}

.mx-none {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.my-xs {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my-sm {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-md {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-lg {
  margin-top: 24px;
  margin-bottom: 24px;
}

.my-xl {
  margin-top: 32px;
  margin-bottom: 32px;
}

.my-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-vh {
  height: 100vh;
}

.half-width {
  width: 50%;
}

.auto-scroll {
  overflow: auto;
}

.x-auto-scroll {
  overflow-x: auto;
}

.y-auto-scroll {
  overflow-y: auto;
}

.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.z3 {
  z-index: 3;
}

.z4 {
  z-index: 4;
}

.z5 {
  z-index: 5;
}

.z6 {
  z-index: 6;
}

.z7 {
  z-index: 7;
}

.z8 {
  z-index: 8;
}

.z9 {
  z-index: 9;
}

.z10 {
  z-index: 10;
}

.z11 {
  z-index: 11;
}

.z12 {
  z-index: 12;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.fixed-top {
  position: fixed;
  top: 0;
}

.top-most {
  top: 0;
}

.left-most {
  left: 0;
}

.right-most {
  right: 0;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.wrapper {
  padding: 5vh 7.5vw;
}

.wrapper-y {
  padding: 5vh 0;
}

.wrapper-x {
  padding: 0 7.5vw;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-auto {
  overflow: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.cover-center {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.contain-center {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.pointer {
  cursor: pointer;
}
/*# sourceMappingURL=layout.css.map */