*,
body,
html {
  margin: 0;
  padding: 0;
  font: 10px;
}
main {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-areas: "box1   box2";
}
.left {
  grid-area: box1;
  text-align: center;
}
.right {
  grid-area: box2;
}

.articles {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  grid-template-areas: " box1 box2";
}

.articles__cources {
  grid-area: box1;
}

.articles__calender {
  grid-area: box2;
}
